@using InsuranceQuotesMVC.Models
@model List<Quote>

    <div class="container">
        <div class="jumbotron shadow">
            <H1 class="text-center text-primary">Your Monthly Premium!</H1>
            <hr />
            @foreach (var quote in Model)
            {
                <h2 class="text-center text-success">$@quote.QuoteTotal</h2>                
            }
            <a href="/Home/Index">
                <h3 class="text-center text-info">Get Another Quote</h3>
            </a>
        </div>
    </div>


