Usually repositories will exist beteen the DAL and the controllers as an abstraction layer.
In this tutorial, we will skip this step for simplicity.  This text exists to explain why this 
folder is empty.