@using InsuranceQuotesMVC.ViewModels
@model List<QuoteVm>

<div class="container">
    <div class="jumbotron shadow">
        <h3 class="text-center text-primary">Insurance Quotes</h3>
        <hr />
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Quote</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var quote in Model)
                {
                    <tr>                        
                        <td>@quote.FirstName</td>
                        <td>@quote.LastName</td>
                        <td>@quote.EmailAddress</td>
                        <td>@quote.QuoteTotal</td>
                    </tr>
                 }
            </tbody>
            </table>
        
    </div>
</div>
